<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-image: url(C:/Users/User/PycharmProjects/project_1/expirience/1.jpg)">
    <div id="app">
        <div class="wrapper" style="padding: 20px 100px 0; display: flex; flex-direction: column; align-items:center;">
            <h2>{{naimenovaniya}}</h2>
        <select v-model="selected" class="form-control form-control-lg" type="submit" @change="onChange($event)">
            <option disabled value="">Выберите один из вариантов</option>
            <option v-for="(option) in spisok" :value="option.id">{{option.id}}. {{option.reportname }}</option>
        </select>
        <hr>
            <div class="add-item-form" style="padding: 20px 100px 0; display: flex; flex-direction: column; align-items:center;">
                <form style="width: 100%;">
                    <div class="form-row">
                    <div v-for="ins in man">
                         <label>{{ins}}</label>
                         <input  type="text"  placeholder="Введите данные" class="form-group col-md-8" @change="inputdata.unshift(event.target.value)">
                    </div>
                    </div>
                    <hr>
                    <button type="button" style="width:100%;" @click="exportFile" >Сформировать</button>
                    <p>{{inputdata}}</p>
                </form>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="vue_app.js"></script>
</body>
</html>